<div class="main-header-section-container">
  <h2>
    Welcome to FinDev - Elevating Businesses through Innovative<br />Software
    Solutions
  </h2>
  <div class="main-header-section-description">
    At FinDev, we specialize in delivering cutting-edge software services that
    empower businesses to thrive in today's dynamic digital landscape. With a
    commitment to excellence and a passion for innovation, we bring a wealth of
    expertise to address your unique challenges and drive your success
  </div>
</div>

<div class="main-section-container">
  <h3>Our software development expertise</h3>
  <div id="mySoftwareServiceContainer"></div>
  <app-software-software-settings-icons
    containerId="mySoftwareServiceContainer"
  ></app-software-software-settings-icons>
  <div class="container">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Custom Software Development</h5>
        <mat-icon class="icon" svgIcon="rocket"></mat-icon>
      </div>
      <div class="card-body">
        Unleash the full potential of your business with bespoke software
        solutions tailored to your specific needs. Our team of seasoned
        developers combines technical prowess with creativity to deliver robust,
        scalable, and intuitive software that aligns seamlessly with your
        objectives.
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Web Application Development</h5>
        <mat-icon class="icon" svgIcon="web"></mat-icon>
      </div>
      <div class="card-body">
        Elevate your online presence and user experience with our web
        application development services. From dynamic websites to interactive
        web applications, we leverage the latest technologies to create digital
        solutions that captivate your audience and drive engagement.
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Mobile App Development</h5>
        <mat-icon class="icon" svgIcon="mobile"></mat-icon>
      </div>
      <div class="card-body">
        Stay connected with your audience on the go. Our mobile app development
        expertise spans iOS and Android platforms, delivering user-friendly and
        feature-rich applications that enhance customer engagement and
        streamline business processes.
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Cloud Solutions</h5>
        <mat-icon class="icon" svgIcon="cloud"></mat-icon>
      </div>
      <div class="card-body">
        Embrace the power of the cloud with our scalable and secure cloud
        solutions. Whether you're looking to migrate existing systems or build
        new cloud-native applications, we optimize your infrastructure for
        flexibility, efficiency, and cost-effectiveness.
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title">Software Consulting and Strategy</h5>
        <mat-icon class="icon" svgIcon="ai-solution"></mat-icon>
      </div>
      <div class="card-body">
        Chart your course to success with our software consulting services. Our
        seasoned strategists work closely with you to understand your business
        goals and challenges, providing actionable insights and a roadmap for
        leveraging technology to achieve sustainable growth.
      </div>
    </div>
  </div>
</div>

<div class="main-section-container why-us">
  <h3>Why choose us ?</h3>
  <div class="main-services-container">
    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Innovation at the Core</mat-card-title>
        <mat-icon class="icon" svgIcon="light-bulb"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          We thrive on pushing the boundaries of technology, staying abreast of
          the latest trends to deliver solutions that keep you ahead in the
          digital race.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Collaborative Approach</mat-card-title>
        <mat-icon class="icon" svgIcon="measuring-tape"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Your success is our success. We believe in collaborative partnerships,
          working closely with you to ensure that our solutions align seamlessly
          with your vision and objectives.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Reliability and Security</mat-card-title>
        <mat-icon class="icon" svgIcon="shield"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Trust is paramount in the world of IT. We prioritize the security and
          reliability of our solutions, ensuring that your data is handled with
          the utmost care and confidentiality.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Proven Track Record</mat-card-title>
        <mat-icon class="icon" svgIcon="chart-upward"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Join a growing list of satisfied clients who have experienced tangible
          results from our software services. From startups to enterprises, we
          have a track record of delivering excellence across diverse
          industries.
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
