.flag-icon {
  width: 20px;
  height: 20px;
}

.selected-flag {
  width: 80%;
  height: 80%;
}

.flag-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.801) !important;
  border: none;
}

.mat-button-toggle {
  background-color: rgba(245, 245, 245, 0.801) !important;
}
