<div class="main-header-section-container">
  <h2>Welcome to FinDev - Unleashing the Power of AI</h2>
  <div class="main-header-section-description">
    At FinDev, we are at the forefront of innovation, harnessing the incredible
    potential of Artificial Intelligence (AI) to transform businesses and
    elevate them to new heights. Our comprehensive suite of AI services is
    designed to empower your organization, drive efficiency, and unlock
    unprecedented opportunities.
  </div>
</div>

<div class="main-section-container">
  <h3>Our AI expertise</h3>
  <!--app-ai-canvas is a bit buggy for now, will try to fix it if not we are gonna use some background image-->
  <div id="myRobotContainer"></div>
  <app-ai-canvas containerId="myRobotContainer"></app-ai-canvas>
  <div class="main-services-container">
    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Machine Learning Solutions</mat-card-title>
        <mat-icon class="icon" svgIcon="machine-learning"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Leverage the predictive power of machine learning to make data-driven
          decisions. Our custom machine learning solutions are tailored to your
          specific needs, helping you extract actionable insights and gain a
          competitive edge in your industry.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title> Natural Language Processing (NLP)</mat-card-title>
        <mat-icon class="icon" svgIcon="nlp"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Communicate with your data like never before. Our NLP solutions enable
          machines to understand and respond to human language, revolutionizing
          customer interactions, content analysis, and sentiment analysis.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Computer Vision</mat-card-title>
        <mat-icon class="icon" svgIcon="computer-vision"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          See the unseen. Our computer vision capabilities open up new
          possibilities for image and video analysis, enabling automation,
          object recognition, and enhancing security and surveillance systems.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>AI Consulting and Strategy</mat-card-title>
        <mat-icon class="icon" svgIcon="ai-solution"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Embark on your AI journey with confidence. Our expert consultants work
          closely with you to develop a tailored AI strategy aligned with your
          business objectives. From ideation to implementation, we guide you at
          every step.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>AI Integration</mat-card-title>
        <mat-icon class="icon" svgIcon="ai-integration"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Seamlessly integrate AI into your existing systems and processes.
          Whether it's enhancing your current software or developing AI-powered
          applications from scratch, we ensure a smooth transition to the future
          of technology.
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="main-section-container why-us">
  <h3>Why choose us ?</h3>
  <div class="main-services-container">
    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Innovation at the Core</mat-card-title>
        <mat-icon class="icon" svgIcon="light-bulb"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          We thrive on pushing boundaries and staying ahead of the technological
          curve. Our commitment to innovation ensures that you always have
          access to cutting-edge AI solutions
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title> Tailored Solutions</mat-card-title>
        <mat-icon class="icon" svgIcon="measuring-tape"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          No two businesses are the same, and neither are our solutions. We take
          the time to understand your unique challenges and craft bespoke AI
          solutions that address your specific needs.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Reliability and Security</mat-card-title>
        <mat-icon class="icon" svgIcon="shield"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Trust is paramount in the world of AI. We prioritize the security and
          reliability of our solutions, ensuring that your data is handled with
          the utmost care and confidentiality.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-container">
      <mat-card-header class="mat-card-header">
        <mat-card-title>Proven Track Record</mat-card-title>
        <mat-icon class="icon" svgIcon="chart-upward"></mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-card-content">
          Our track record speaks for itself. Numerous satisfied clients have
          experienced tangible benefits from our AI services, ranging from
          increased efficiency to significant business growth.
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
